<div>
    <ul>
        {{#each categoria}}
        <li>
            <strong>ID: </strong>{{id}}
        </li>
        <li>
            <strong>Categoria: </strong>{{categoria}}
        </li>
        <li>
            <strong>Producto: {{producto}}</strong>
        </li>
        {{/each}}
    </ul>
</div>